<div class="container">
  <h1>Editing <%= @restaurant.name %> </h1>
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category, :collection => %w[chiniese japanese italian french belgian] %>
    <%= f.input :phone_number %>
    <%= f.submit %>
  <% end %>
</div>
