<div class="container">
  <h1>New restaurant</h1>
  <%= simple_form_for(@restaurant) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :category, :collection => %w[Chinese Japanese Italian French Belgian] %>
    <%= f.input :phone_number %>
    <%= f.submit %>
  <% end %>
</div>
